body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #000000;
    color: rgb(245, 245, 245);
    text-align: center;
}
#sapa {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(235, 235, 235);

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1, label, input, button, #sapa {
    margin: 10px;
}
button {
    background-color: #00b2fe; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #ffffff;
}


input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 200px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
input:focus {
    border-color: #4CAF50;
    outline: none;
}

#greeting {
    font-size: 24px;
    font-weight: bold;
    color: #cae4ff;
    background-color: #000000;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}